.container {
  width: 100%;
  /* padding-right: 1.5rem;
  padding-left: 1.5rem; */
  margin-right: auto;
  margin-left: auto;
}
/* 
@media (min-width: 576px) {
  .container {
    max-width: 540px;

  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1150px;
  }
} */

/* Scroll */
.show-scroll {
  overflow-y: scroll;
}

.show-scroll::-webkit-scrollbar {
  width: 4px;
}

.show-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.show-scroll::-webkit-scrollbar-thumb {
  background: #2c82d7;
}

.show-scroll::-webkit-scrollbar-thumb:hover {
  background: #c1cfe1;
}
/* end scroll */

.show-scroll-x {
  overflow-x: scroll;
}

.show-scroll-x::-webkit-scrollbar {
  height: 5px;
}

.show-scroll-x::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.show-scroll-x::-webkit-scrollbar-thumb {
  background: #cdd2d7;
}

.show-scroll-x::-webkit-scrollbar-thumb:hover {
  background: #c1cfe1;
}

/* Hide scroll */
.hide-scroll {
  overflow: hidden; /* Ẩn thanh cuộn */
  position: relative; /* Để có thể sử dụng pseudo-element */
}

.hide-scroll::before {
  content: ""; /* Tạo một pseudo-element */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll; /* Cho phép cuộn dọc */
}

/* Scrollbar styles (optional) */
.hide-scroll::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn */
  background: transparent; /* Nền trong suốt */
}

/* Model */

.z-model {
  z-index: 999;
  width: 40rem;
  border-radius: 20px;
}

.v-modal-bg {
  background-color: rgba(255, 255, 255, 0.749);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.size-img {
  height: 16px;
  max-height: 16px;
  object-fit: cover;
}

.imgLogo {
  background-image: url(@/assets/images/svg_v2/ic_logo.png);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease, height 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.imgLogo-footer {
  background-image: url(@/assets/images/svg_v2/ic_logo.png);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease, height 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}


.main-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}
@media (min-width: 576px) {
  .imgLogo {
    width: 30px;
    height: 28px;
  }

  .main-top{
    gap: 14px;
  }
}

@media (min-width: 768px) {
  .imgLogo {
    width: 42px;
    height: 42px;
  }
  .main-top{
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .imgLogo {
    width: 42px;
    height: 42px;
  }

  .main-top{
    gap: 20px;
  }
}
