[data-theme="dark"] {
  --bs-body-bg: #0e2950;
  --bs-body-color: #f8f9fa;
  --bs-header-bg: #dfecff;
  --bg-title-logo: #0d2952;
  --bg-input-search: rgba(13, 41, 82, 0.1);
  --color-input-ic: #0d2952;
  --bg-nav-top: #415e89;
  --bg-nav-bottom: #48648c;
  --color-txt: #f9f9f9;
  --bg-compo-1: rgb(255 255 255 / 17%);
  --bg-compo-2: rgb(251 251 251 / 0%);
  --bg-compo-3: rgb(243 243 243 / 12%);
  --bg-button: #5b6c86;
  --color-icon-df: #f9f9f9;
  --color-border: rgba(255, 255, 255, 0.2);
  --bg-tab-btn: rgba(255, 255, 255, 0.1);
  --bg-title-calendar: #5b6c84;
  --color-txt-rain: #00e3f5;
  --bg-btn-location: #dfecff;
  --color-txt-chart-rain: #00e3f5;
  --color-txt-chart-precipitation: #ffffff;
  --color-txt-chart-uv: #ffffff;
  --bg-radio-chance-of-rain: #00e3f5;
  --bg-radio-chance-of-snow: #ff8c00;
  --text-search: #0d2952;
  --color-icon-df-mobile: #333333;
  --bg-location-header: #e3e3e3;
  --bg-menu-mobile: #f9f9f9;
  --color-menu-mobile: #333333;
  --bg-btn-option: #ddbfbf;
  --bg-icon-precip: #ffffff;
  --color-card-city: #bfbfbf;
  --color-card-provinces: #f9f9f9;
  --color-chance-of-rain: #2ae2f3;
  --color-Address: #60a5fa;
  --bg-color-widget: #0d274c;
  --title-color-widget: #ffffff;
  --line-color-widget: #f2f2f2;
  --text-color-widget: #ccceff;
  --description-color-widget: #c7c8c8;
  --border-widget: #dcdfe6;
  --bg-draw: #3e5481;
  --color-weekend: #35d1de;
  --bg-tab-nav: #6f3476;
  --bg-scan-mobile: #dfecfe;
}
