:root {
  --bs-body-font-family: Arial, sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-text-align: left;
  --bs-body-bg: #e6f0fe;
  --bs-header-bg: #2b528c;
  --bg-title-logo: #ffffff;
  --bg-input-search: rgba(243, 243, 243, 0.2);
  --color-input-ic: #ffffff;
  --bg-nav-top: rgba(0, 58, 145, 0.32);
  --bg-nav-bottom: rgba(0, 98, 245, 0.16);
  --color-txt: #333333;
  --bg-compo-1: rgba(92, 157, 255, 0.1);
  --bg-compo-2: rgba(0, 58, 145, 0.15);
  --bg-compo-3: rgb(206 186 186 / 12%);
  --bg-button: #ffffff;
  --color-icon-df: #333333;
  --color-border: rgb(66 36 36 / 20%);
  --bg-tab-btn: rgb(65 54 54 / 10%);
  --bg-title-calendar: rgba(0, 98, 245, 0.4);
  --color-txt-rain: #0062f5;
  --bg-btn-location: #dfecff;
  --color-txt-chart-rain: #333333;
  --color-txt-chart-precipitation: #333333;
  --color-txt-chart-uv: #333333;
  --bg-radio-chance-of-rain: #90bcf3;
  --bg-radio-chance-of-snow: #bd8526;
  --text-search: #ffffff;
  --color-icon-df-mobile: #f9f9f9;
  --bg-location-header: #8db5d4;
  --bg-menu-mobile: #0f294e;
  --color-menu-mobile: #f9f9f9;
  --bg-btn-option: #000000;
  --bg-icon-precip: #b3aaf6;
  --color-card-city: #aa7a7a;
  --color-card-provinces: #526277;
  --color-chance-of-rain: #60a5fa;
  --color-Address: #4376b4;
  --bg-color-widget: #ffffff;
  --title-color-widget: #0e2950;
  --line-color-widget: #739bd3;
  --text-color-widget: #7d7fd2;
  --description-color-widget: #889a9a;
  --border-widget: #6d6d6d;
  --bg-draw: #d2dff9;
  --color-weekend: #6179d1;
  --bg-tab-nav: #a56fab;
  --bg-scan-mobile: #3e7ed9;
}
